

:root{
	--colorMorado : #9c27b0;
	--colorBlanco : #fff;
	--fuente: sans-serif;
}

*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}


.header{
    background-color: var(--colorMorado);
	padding: 20px 0px;
	
}

.menu{
	width: 90%;
	margin: 0px auto;
	display: flex;
	justify-content: space-between;
}


.logo p{
	color: var(--colorBlanco);
	font-size: 2rem;
	text-transform: uppercase;
	font-family: var(--fuente);
	letter-spacing: 1px;
}

.menu-link{
	display: flex;
	align-items: center;
}

.menu-link{
	list-style: none;
	color: var(--colorBlanco);
	font-size: 1.2rem;
	text-transform: uppercase;
	font-family: sans-serif;
	letter-spacing: 1px;
}

.fa-bars{
	color: var(--colorBlanco);
}

.formulario-contenedor{
	width: 95%;
	margin: 20px auto;

	
}

.formulario{
	min-height: 30vh;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border: 1px solid #ccc;
}



.input-caja label{
	display: block;
	margin-bottom: 10px;
	font-family: var(--fuente);
	text-transform: uppercase;
	letter-spacing: 1px;
	
}


.input-caja input{
	width: 100%;
	outline: none;
	border: none;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 10px 20px;

}

.boton-caja{
	margin-top: 25px;
}






.enviar[type="submit"]{
	width: 100%;
	border-radius: 5px;
	padding: 10px 35px;
	border: none;
	outline: none;
	background-color: var(--colorMorado);
	color: var(--colorBlanco);
	transition: opacity 0.5s ease;
}


.enviar[type="submit"]:hover{
	opacity: 0.80;
	cursor: pointer;
}



.tabla-container{
	width: 95%;
	margin: 30px auto;
	background-color: var(--colorMorado);
	overflow-x: auto;
}

.tabla{
	width: 100%;
	padding: 15px 0px;
}

th{ 
	padding: 7px 0px;
	color: var(--colorBlanco);
	text-transform: uppercase;
	font-family: var(--fuente);
	font-size: 0.8rem;
}

tbody{
	width: 80%;
	text-align: center;

}

td{
	padding: 15px 5px;
	margin: 10px 0px;
	color: var(--colorMorado);
	background-color:  var(--colorBlanco);
	font-family: var(--fuente);


}

.boton{
	padding: 8px 15px;
	border-radius: 5px;
	text-decoration: none;
	border: none;
	outline: none;
	font-family: var(--fuente);
	font-size: 0.9rem;
	transition: opacity 0.5s ease;
}

.boton:hover{
	opacity: 0.80;
	cursor: pointer;
}

.editar{
	background-color: green;
	color: var(--colorBlanco);
}

.eliminar{
	background-color: red;
	color: var(--colorBlanco);
}

